<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="max-container">
  <h3>Education</h3>
  <div class="container">
    <form #educationForm="ngForm" (ngSubmit)="onSubmit(educationForm)">
      <div class="form-outline mb-4">
        <select id="id" class="form-control" [(ngModel)]="formData.id" name="id" required>
          <option value="" disabled selected>Select</option>
          <option *ngFor="let id of educationDataIds" [value]="id">{{ id }}</option>
        </select>
        <label class="form-label" for="id">Employee ID</label>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="highdeg1" class="form-control" [(ngModel)]="formData.highdeg1" name="highdeg1" />
        <label class="form-label" for="highdeg1">Degree 1</label>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="stream1" class="form-control" [(ngModel)]="formData.stream1" name="stream1" />
        <label class="form-label" for="stream1">Stream</label>
      </div>
      <div class="form-outline mb-4">
        <input type="number" id="marks1" class="form-control" [(ngModel)]="formData.marks1" name="marks1" />
        <label class="form-label" for="marks1">Marks</label>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="university1" class="form-control" [(ngModel)]="formData.university1" name="university1" />
        <label class="form-label" for="university1">University</label>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="highdeg2" class="form-control" [(ngModel)]="formData.highdeg2" name="highdeg2" />
        <label class="form-label" for="highdeg2">Degree 2</label>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="stream2" class="form-control" [(ngModel)]="formData.stream2" name="stream2" />
        <label class="form-label" for="stream2">Stream</label>
      </div>
      <div class="form-outline mb-4">
        <input type="number" id="marks2" class="form-control" [(ngModel)]="formData.marks2" name="marks2" />
        <label class="form-label" for="marks2">Marks</label>
      </div>
      <div class="form-outline mb-4">
        <input type="text" id="university2" class="form-control" [(ngModel)]="formData.university2" name="university2" />
        <label class="form-label" for="university2">University</label>
      </div>
      <button type="submit" class="btn btn-dark btn-block mb-4">Submit</button>
    </form>
  </div>
</div>
