.max-container{
    padding: 2rem;
    margin-top: 2rem;
}
.container{
    border: 1px solid black;
    padding: 2rem;

}

#ac{
    margin-right: 2rem;
}

.form-check-inline{
    padding-right: 1rem;
}


._yrs {
    font-size: 15px;
    color: #297195;
    display: inline-block;
  }
  
  #LoanTermSlider {
    width: 100%;
  }